{{ 'section-contact-form.css' | asset_url | stylesheet_tag }}

  <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
  <script src="https://pitchprint.io/rsc/js/client.js"></script>  

  <div class="contact page-width page-width--narrow spaced-section">
    <h2 class="title">Demo 3D Designer</h2>
    
    <div class="contact__fields">
      <div class="field">
        
        <input class="field__input" 
               autocomplete="email" 
               type="text"
               name="email"
               id="email">

        <label class="field__label" for="email">Email* </label>
        
      </div>
    </div>      
                
    <div class="contact__fields">
      <div class="field">
       
        <input class="field__input" 
               type="text" 
               list="designs" 
               name="design_id" 
               id="design_id">

        <datalist id="designs">
          	<option data-value="d4cfaac98a4f58dc7f2e88e008851c0f" value="Dropper bottle box"></option>
          	<option data-value="ab3e118c669b69020ba767210cfd8bef" value="Candle box"></option>
            <option data-value="e23aa324b6e4014b5dacf92c0ec95a84" value="Gift box"></option>
        </datalist>  
        
        <label class="field__label" id="design_id_label" for="design_id">Design ID </label>        
        
      </div>  
    </div>  

    <div class="contact__fields">
      <div class="field">

        <label class="form__label" id=design_mode_label for="design_mode">Select Mode </label>
        
        <select class="select select__select" 
            name="design_mode" 
            id="design_mode">
          	  <option value="new">New Design </option>	          
              <option value="edit">Edit Design </option>
        </select>
        
      </div>  
    </div>
    
	<div class="contact__fields">
      <div class="field">
        <button id="submit_btn" class="button">Launch Designer </button>
      </div>  
    </div>
            
  </div>
	
  <div id="pp_preview_div"></div> 	

<script>
  
  document.getElementById("design_id").style.display = "none";
  document.getElementById("design_id_label").style.display = "none";
  document.getElementById("design_mode").style.display = "none";
  document.getElementById("design_mode_label").style.display = "none";
   
  // get current url
  var urlValue = $(location).attr('href'); 

  // read url variables
  (new URL(urlValue)).searchParams.forEach((x, y) =>
      document.getElementById(y).value = x);
          
  // Launch Designer button pressed
  function launchDesigner() {

    if($("#email").val() == '') {
      
      alert( "Please enter an email address" );
            
      return;
    }     
           
    // check if project ID populated, then switch to edit mode
  	if ($( "#project_id" ).val()){   
        document.getElementById('design_mode').value = 'edit';
    }
    
    // form fields 
    //var nameValue = $( "#name" ).val();
    var emailValue = $( "#email" ).val();
    var modeValue = $( "#design_mode" ).val();   
    var projectValue = $( "#project_id" ).val();
    
    var value = $('#design_id').val();
    var designValue = $('#designs [value="' + value + '"]').data('value');
    
    // design ID manually typed
    if (designValue == null) {
      designValue = $( "#design_id" ).val();
    }
      
    //Get handles to the UI elements we'll be using
    var _previewDiv = document.getElementById('pp_preview_div');

    var ppclient = new PitchPrintClient({
      apiKey: 'kwik-boxes.myshopify.com',
      designId: designValue,
      mode: modeValue,
      userId: emailValue,
      userData: {email: emailValue}, //lastname:    
      projectId: projectValue,
      custom: true
    });
    
    //Function to run once the app is validated (ready to be used)
    var appValidated = () => {      
      ppclient.showApp();		
    };

    //Function to run once the user has saved their project
    var projectSaved = (_val) => {
            
      let _data = _val.data; 
      
      if (_data && _data.previews && _data.previews.length) {
        
        // update Project ID
        document.getElementById('project_id').value = _data.projectId;
        
        // switch to Edit mode
        document.getElementById('design_mode').value = 'new';
        
        // copy url with project id to clipboard
        //var newURL = urlValue + "?project_id=" + _data.projectId + "&" + "email=" + emailValue + "&" + "name=" + nameValue;
        
        //navigator.clipboard.writeText(newURL);
        
        // Hide preview
        //_previewDiv.innerHTML = _data.previews.reduce((_str, _prev) => `${_str}<img src="${_prev}">`, '');		//Show the preview images
      }
    }; 

    //Attach events to the app. You can see a list of all the events here: https://docs.pitchprint.com
    ppclient.on('app-validated', appValidated);
    ppclient.on('project-saved', projectSaved);
      
  }
  
  $( "#submit_btn" ).on( "click", launchDesigner );
  
  $(document).keypress(function(event){
      var keycode = (event.keyCode ? event.keyCode : event.which);
      if(keycode == '13'){
          launchDesigner();
      }
  });
</script>    