{{ 'section-contact-form.css' | asset_url | stylesheet_tag }}

  <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
  <script src="https://pitchprint.io/rsc/js/client.js"></script>  

  <div class="contact page-width page-width--narrow spaced-section">
    <h2 class="title">Demo 3D Designer</h2> 
                
    <div class="contact__fields">
      <div class="field">
        
        <input class="field__input" 
               type="text" 
               list="designs" 
               name="design_id" 
               id="design_id">        

        <datalist id="designs">
          	<option data-value="d4cfaac98a4f58dc7f2e88e008851c0f" value="Bottle box"></option>
          	<option data-value="ab3e118c669b69020ba767210cfd8bef" value="Candle box"></option>
          	<option data-value="ab3e118c669b69020ba767210cfd8bef" value="Cosmetic box"></option>
          	<option data-value="d4cfaac98a4f58dc7f2e88e008851c0f" value="Tube box"></option>
            <option data-value="e23aa324b6e4014b5dacf92c0ec95a84" value="4x4x4 box"></option>
        </datalist>  
        
        <label class="field__label" id="design_id_label" for="design_id">Box Type </label>        
        
      </div>  
      
    </div> 
    
    <div class="contact__fields">      

      <div class="field">

        <label class="form__label" id=design_mode_label for="design_mode">Select Mode </label>
        
        <select class="select select__select" 
            name="design_mode" 
            id="design_mode">
          	  <option value="new">New Design </option>	          
              <option value="edit">Edit Design </option>
        </select>
        
      </div>  
      
    </div> 
    
    <div class="contact__fields">      

      <div class="field">
        
        <input class="field__input"  
               type="text"
               name="project_id"
               id="project_id">

        <label class="field__label" id="project_id_label" for="project_id">Project ID </label>
        
      </div>
      
    </div> 
    
    <div class="contact__fields">      

      <div class="field">
        
        <textarea
                  rows="7"
                  class="text-area field__input"  
                  type="text"
                  name="saved_url"
                  id="saved_url">
        </textarea>  

        <label class="field__label" id="saved_url_label" for="project_id">Saved Design Link (copied to clipboard) </label>
        
      </div>
      
    </div> 
    
    <div class="contact__fields">      

      <div class="field">
        <button id="submit_btn" class="button">Launch Designer </button>
      </div>  
    </div>
    
    <div class="contact__fields">  
		<p>Click here to <a href="https://etsy.com/shop/paperBoxDesignCo" target="_blank">Order Your Box Design on Etsy</a></p>
    </div>  
            
  </div>
	
  <div id="pp_preview_div"></div> 	

<script>
  
  //document.getElementById("design_id").style.display = "none";
  //document.getElementById("design_id_label").style.display = "none";
  //document.getElementById("design_mode").style.display = "none";
  //document.getElementById("design_mode_label").style.display = "none";
  
  //document.getElementById("project_id").style.display = "none";
  //document.getElementById("project_id_label").style.display = "none"; 
  
  //document.getElementById("saved_url").style.display = "none";
  //document.getElementById("saved_url_label").style.display = "none";   
   
  // get current url
  var urlValue = $(location).attr('href'); 

  // read url variables
  (new URL(urlValue)).searchParams.forEach((x, y) =>
      document.getElementById(y).value = x);
          
  // Launch Designer button pressed
  function launchDesigner() {
           
    // check if project ID populated, then switch to edit mode
  	if ($( "#project_id" ).val()){   
        document.getElementById('design_mode').value = 'edit';
    }
    
    // form fields 
    //var nameValue = $( "#name" ).val();
    //var emailValue = $( "#email" ).val();
    var modeValue = $( "#design_mode" ).val();   
    var projectValue = $( "#project_id" ).val();
    
    var value = $('#design_id').val();
    var designValue = $('#designs [value="' + value + '"]').data('value');
    
    // design ID manually typed
    if (designValue == null) {
      designValue = $( "#design_id" ).val();
    }
      
    //Get handles to the UI elements we'll be using
    var _previewDiv = document.getElementById('pp_preview_div');

    var ppclient = new PitchPrintClient({
      apiKey: 'kwik-boxes.myshopify.com',
      designId: designValue,
      mode: modeValue,
      userId: 'Etsy demo',
      //userData: {email: emailValue}, //lastname:    
      projectId: projectValue,
      custom: true
    });
    
    //Function to run once the app is validated (ready to be used)
    var appValidated = () => {      
      ppclient.showApp();		
    };

    //Function to run once the user has saved their project
    var projectSaved = (_val) => {
            
      let _data = _val.data; 
      
      if (_data && _data.previews && _data.previews.length) {
        
        // display project id field & label
        //document.getElementById("project_id").style.display = "block";
        //document.getElementById("project_id_label").style.display = "block";        
        
        document.getElementById("saved_url").style.display = "block";
        document.getElementById("saved_url_label").style.display = "block";         
        
        // update Project ID
        document.getElementById('project_id').value = _data.projectId;
        
        // switch to Edit mode
        document.getElementById('design_mode').value = 'edit';
        
        // create url with project id
        var newURL = urlValue + "&project_id=" + _data.projectId;
        
        // display URL for user to copy for future access
        document.getElementById('saved_url').value = newURL;
          
        // copy url with project id to clipboard
        navigator.clipboard.writeText(newURL);
        
        // Hide preview
        //_previewDiv.innerHTML = _data.previews.reduce((_str, _prev) => `${_str}<img src="${_prev}">`, '');		//Show the preview images
      }
    }; 

    //Attach events to the app. You can see a list of all the events here: https://docs.pitchprint.com
    ppclient.on('app-validated', appValidated);
    ppclient.on('project-saved', projectSaved);
      
  }
  
  $( "#submit_btn" ).on( "click", launchDesigner );
  
  $(document).keypress(function(event){
      var keycode = (event.keyCode ? event.keyCode : event.which);
      if(keycode == '13'){
          launchDesigner();
      }
  });
</script>    